body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;  
    text-align:left;
    letter-spacing: 2px; 
}

#cajasuperior {
    width: 100vw;
    height: 100vh;
    background-image:url("./imgs/fondo.jpg");
    background-size:100%;
    background-image:no-repeat;
    padding:250px;
    color:black
}

h1 {
    font-size: 40px;
    line-height: 75px;
    font-weight: 100;
}

h2 {
    font-size: 19px;
    color: lightgray;
    line-height: 30px;
}

#cajacentro {
    font-size:75px;
    font-weight:normal; 
    height: 100vh;
    padding: 30px;
    margin-left:150px;
}

p {
    text-align:left;
    line-height: 40px;
    font-size:20px;
    word-spacing:2px;
    letter-spacing:2px;
    width:83%;
    padding-top:25px; 
}

#cajainferior {
    background-color:black;
    height: 700px;
}

ul {
    list-style:none;    
    font-size:40px;
    font-weight:100;
    margin-left:150px;
    padding-top:87.5px;
    color:white;
    line-height:80px;
}

li {
    padding:4px;
}

a:link {
    color: white;
    text-decoration:none;
  }

a:visited {
    color: white;
  }
  
a:hover {
    color: orange;
    text-decoration:underline;
  }

  a[href*="#cajacentro"]:hover {
    text-decoration:line-through;
  }

  a[href*="#cajainferior"]:hover {
    text-decoration:line-through;
  }

  a[href*="#nothing"]:hover {
    text-decoration:line-through;
  }


  
  