body {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    margin:0;
}

/*header {
    height:90px;
    text-align: center;
    background-color: whitesmoke;
    color: goldenrod;
    font-family: serif;
    font-size:26px;
    margin:0;
    margin-bottom: 50px;
}*/

h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 45px;
    font-weight: bolder;
}

h2 {
    color: lightgray;
    font-weight:bold;
    font-size: 25px;
    font-weight: bolder;
    margin: 20px;
}

h2:hover { font-size: 40px;
    background-image: linear-gradient(
            to right,
            orangered,
            orange,
            gold,
            lightgreen,
            cyan,
            dodgerblue,
            mediumpurple,
            hotpink,
            orangered);
    background-size: 350px;
    }

h2:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover {
    filter: saturate(100%);
}

img {
    filter: saturate(0);
    height: 350px;
    margin:20px;
}

.dropbtn {
    background-color:white;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    font-weight: lighter;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size:16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    text-decoration: line-through;
    font-style: italic;
    color:white;
    background-image: linear-gradient(
            to right,
            orangered,
            orange,
            gold,
            lightgreen,
            cyan,
            dodgerblue,
            mediumpurple,
            hotpink,
            orangered);
    background-size: 260px;
    }
  
.dropdown:hover .dropdown-content { display: block;
}

.dropdown:hover .dropbtn { 
    font-style: italic;
    background-image: linear-gradient(
            to right,
            orangered,
            orange,
            gold,
            lightgreen,
            cyan,
            dodgerblue,
            mediumpurple,
            hotpink,
            orangered);
    background-size: 90px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 