body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;  
    text-align:left;
    letter-spacing: 2px; 
}

#cajasuperior {
    width: 100vw;
    height: 100vh;
    background-image:url("./imgs/fondo.jpg");
    background-size:contain;
    padding:250px;
    color: black;
}

h1 {
    font-size: 40px;
    line-height: 75px;
    font-weight: 100;
}

h2 {
    font-size: 19px;
    color: lightgray;
    line-height: 30px;
}

#cajacentro {
    font-size:75px;
    font-weight:normal; 
    height: 100vh;
    padding: 30px;
    margin-left:150px;
}

p {
    text-align:left;
    line-height: 40px;
    font-size:20px;
    word-spacing:2px;
    letter-spacing:2px;
    width:83%;
    padding-top:25px; 
}

#cajainferior {
    background-color:black;
    height: 700px;
}

ul {
    list-style:none;    
    font-size:40px;
    font-weight:100;
    margin-left:150px;
    padding-top:87.5px;
    color:white;
    line-height:80px;
}

li {
    padding:4px;
}